*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: bisque;
}
.container{
    display: flex;
    height: 90%;
}
.quote{
    border: 2px solid black;
    width: 900px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color: grey;
    background-color: #f4edea;
    border: 15px solid #f4d1ae;

}
.but{
    background-color:rgb(147, 104, 187);
    height: 50px;
    width: 320px;
    font-size: 20px;
    border-radius: 20px;
   
}
.quote p, .quote h2{
    font-size: 2rem;
}
@media(max-width:480px){
    .quote p, .quote h2{
        font-size: 1rem;
    }
}
.author{
    padding-left: 200px;
    font-size: 30px;
}